{% extends 'crud/list.html.twig' %}

{% block title %}Liste des stocks{% endblock %}
{% block page_title %}Liste des stocks{% endblock %}

{% block thead_td %}
    <th>Id</th>
    <th>Article</th>
    <th>Emplacement</th>
    <th>Quantité</th>
    <th>actions</th>
{% endblock %}

{% block tbody %}
    {% for stock in article_stocks %}
        <tr>
            <td>{{ stock.id }}</td>
            <td>{{ stock.article }}</td>
            <td>{{ stock.area }}</td>
            <td class="quantity" data-controller="article-stock--stock">
                <button class="space-right" data-action="click->article-stock--stock#decrease" data-href="{{ path('stock_article_decrease', {'id': stock.id}) }}">-</button>
                <span data-article-stock--stock-target="stock">{{ stock.quantity }}</span>
                <button class="space-left"  data-action="click->article-stock--stock#increase" data-href="{{ path('stock_article_increase', {'id': stock.id}) }}">+</button>
            </td>
            <td>
                <a href="{{ path('stock_article_edit', {'id': stock.id}) }}">edit</a>
                <a href="{{ path('stock_article_delete', {'id': stock.id}) }}">delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}
